---
layout: default
---
  {% if page.fill %}
  <div class="frame" style="background-color: {{ page.fill }}">
  {% else %}
  <div class="frame frame-default">
  {% endif %}
  
  <a href="{{ page.image }}"><img src="{{ page.image }}" alt="{{ page.title }}"></a>
  </div> <!-- end of frame -->

  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

  {% if page.subtitle %}
  <h2 class="subtitle">{{page.subtitle}}</h2>
  {% endif %}


  <div class="excerpt">
  {{ content }}
  </div>
  
  <nav class="page-nav">
  {% if page.previous.url %}
  <a href="{{page.previous.url}}" class="previous">previous</a>
  {% endif %}

  {% if page.next.url %}
  <a href="{{page.next.url}}" class="next">next</a>
  {% endif %}
  </nav>
